<div class="main">

    <div class="box">
        <form class="form" [formGroup]="credentialsFormGroup">
            <div style="font-size: 0.92rem;font-style: italic;" *ngIf="newAccount">Registration success! Use your
                credentials to Log in:
            </div>
            <div style="font-size: 0.92rem;font-style: italic; color: lightcoral;" *ngIf="invalidCredentials">Wrong
                username or password! Try
                Again!</div>
            <div class="inputs" formGroupName="credentials">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="fa-regular fa-user"></i>
                    </p-inputGroupAddon>
                    <input [autofocus]="true" pAutoFocus pInputText placeholder="Username" formControlName="username"
                        [disabled]="loading" />
                </p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="fa-solid fa-lock"></i>
                    </p-inputGroupAddon>
                    <input pInputText type="password" placeholder="Password" formControlName="password"
                        [disabled]="loading" />
                </p-inputGroup>
            </div>


            <p-button label="Login" [loading]="loading" (onClick)="login()" icon="fa-solid fa-arrow-right"
                iconPos="left"></p-button>
            <div style="font-size: 0.92rem;font-style: italic;"> don't have account?</div>
            <p-button label="Register" iconPos="right" size="small" [routerLink]="['/register']"></p-button>

        </form>

    </div>

</div>