<div class="main">

    <div class="box">



        <form class="form" [formGroup]="credentialsFormGroup">
            <div class="inputs" formGroupName="credentials">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="fa-regular fa-user"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Username" formControlName="username" [disabled]="loading" />
                </p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="fa-solid fa-lock"></i>
                    </p-inputGroupAddon>
                    <input pInputText type="password" placeholder="Password" formControlName="password"
                        [disabled]="loading" />
                </p-inputGroup>
            </div>


            <p-button label="Login" [loading]="loading" (onClick)="login()" iconPos="right">

            </p-button>

        </form>

    </div>

</div>