<div class="main">

    <div style="margin: .5rem;">
        <p-button label="Add Post" [loading]="loading" (click)="openDialog()" icon="fa-solid fa-plus" iconPos="left"
            *ngIf="this.feedType === 'feed'"></p-button>
    </div>


    <div class="posts">
        <div *ngFor="let post of posts">
            <app-post [post]="post" (postDeleted)="refresh()" (postEdited)="refresh()"></app-post>
        </div>
    </div>


    <p-button label="Load More" [loading]="loading" (click)="loadMorePosts()" class="load-more-btn"
        *ngIf="!noMorePosts"></p-button>
    <div *ngIf="noMorePosts">
        no more posts
        <i class="fa-regular fa-face-sad-tear"></i>

    </div>

</div>