.main {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #242527;
}

.posts {
    display: flex;
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}



.create-post {
    cursor: pointer;
}

.create-post:hover {
    transform: scale(1.06);
}

.load-more-btn {
    margin-bottom: 6rem;
}