<div class="post" *ngIf="!loading">
    <div class="author">
        <app-user-badge [userId]="post.userId"></app-user-badge>
    </div>
    <div class="upper-section section">
        <p-overlayPanel #op>
            <ng-template pTemplate="content">
                <ul>
                    <li (click)="editPost()">Edit</li>
                    <li (click)="deletePost()">Delete</li>
                </ul>
            </ng-template>
        </p-overlayPanel>
        <i class="fa-solid fa-bars more" (click)="op.toggle($event)" *ngIf="post.userId==userId"></i>
        <div class="image">
            <img [src]="imageUrl" alt="" (click)="getImage()">
        </div>
        <div class="title">{{post.title}}</div>
        <div class="content">{{post.content}}</div>
    </div>
    <div class="bot-section section">
        <div class="reaction">
            <div class="reaction-count">{{(countReaction | async)?.overall}}</div>
            <div class="add-reaction">
                <div class="like" (click)="react(Reaction.LIKE)"><i class="fa-solid fa-thumbs-up"></i>{{(countReaction |
                    async)?.like}}</div>
                <div class="love" (click)="react(Reaction.LOVE)"><i class="fa-solid fa-heart"></i>{{(countReaction |
                    async)?.love}}
                </div>
                <div class="haha" (click)="react(Reaction.HAHA)"><i
                        class="fa-solid fa-face-laugh-squint"></i>{{(countReaction | async)?.haha}}</div>
                <div class="sad" (click)="react(Reaction.SAD)"><i class="fa-solid fa-face-sad-tear"></i>{{(countReaction
                    | async)?.sad}}</div>
                <div class="angry" (click)="react(Reaction.ANGRY)"><i
                        class="fa-solid fa-face-angry"></i>{{(countReaction | async)?.angry}}</div>

            </div>
            <div class="comment"><i class="fa-regular fa-comment"></i></div>
        </div>

    </div>
</div>

<div class="loading" *ngIf="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" animationDuration=".5s"></p-progressSpinner>

</div>