.post {
    width: 500px;
    height: 120%;
    color: white;
}

.section {
    background-color: #121212;
    padding: 1rem;
}

.upper-section {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    border-radius: 12px 12px 0px 0px;
}

.bot-section {
    border-radius: 0px 0px 12px 12px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;

    img {
        border-radius: 5px;
        width: 320px;
        height: auto;
    }
}

.title {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin: .4rem 0;
}

.content {
    font-size: .9rem;
    text-align: justify;
    margin: .4rem 0;
}

.add-reaction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;

    i {
        font-size: 1.6rem;
    }

    i:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.reaction {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment {
    i {
        font-size: 2rem;
    }

    i:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}