.main {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #242527;
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.notification {
    width: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 500;

    .profile-photo {
        img {
            width: 60px;
        }
    }
}

.read {
    font-weight: 300;
}


@media (max-width: 550px) {
    .notifications {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .notification {
        width: 90%;
        font-size: .9rem;
    }
}