.main {
    height: 50px;
    background-color: white;
    margin-bottom: .95rem;
}

.feed-type {
    display: flex;
    gap: 1rem;

    div {
        cursor: pointer;
    }

    div:hover {
        transform: scale(1.06);
    }
}

img {
    cursor: pointer;
}