<div class="main">
    <div class="post" *ngIf="!loading">
        <p-overlayPanel #op>
            <ng-template pTemplate="content">
                <ul>
                    <li (click)="editPost()">Edit</li>
                    <li (click)="deletePost()">Delete</li>
                </ul>
            </ng-template>
        </p-overlayPanel>

        <div class="author" *ngIf="!loading">
            <app-user-badge [userId]="post.userId" [routerLink]="['/users', post.userId]"
                [queryParams]="{tab: 'posts'}"></app-user-badge>

            <i class="fa-solid fa-bars more" (click)="op.toggle($event)" *ngIf="post.userId==userId"></i>
        </div>
        <div class="date"> {{ post.createdAt | date:'dd-MM-YYYY HH:mm'}} </div>
        <div class="upper-section section">
            <div class="title">{{post.title}}</div>
            <div class="image">
                <a [href]="imageUrl">
                    <img [src]="imageUrl" alt="" (click)="getImage()">
                </a>
            </div>

            <div class="content">{{post.content}}</div>
        </div>
        <span class="divider"></span>
        <div class="bot-section section">
            <div class="reactions">
                <div class="add-reaction">
                    <div class="like reaction" (click)="react(reaction.LIKE)">
                        <div class="emoji">👍</div>{{(countReaction |
                        async)?.like}}
                    </div>
                    <div class="love reaction" (click)="react(reaction.LOVE)">
                        <div class="emoji">❤️</div>{{(countReaction |
                        async)?.love}}
                    </div>
                    <div class="haha reaction" (click)="react(reaction.HAHA)">
                        <div class="emoji">😄</div>
                        {{(countReaction | async)?.haha}}
                    </div>
                    <div class="sad reaction" (click)="react(reaction.SAD)">
                        <div class="emoji">😢</div>{{(countReaction
                        | async)?.sad}}
                    </div>
                    <div class="angry reaction" (click)="react(reaction.ANGRY)">
                        <div class="emoji">😠</div>
                        {{(countReaction | async)?.angry}}
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="loading" *ngIf="loading">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" animationDuration=".5s"></p-progressSpinner>

    </div>


    <p-button label="Add Comment" *ngIf="!addCommentFormShown" (click)="toggleAddCommentForm()"></p-button>
    <div class="add-comments" *ngIf="addCommentFormShown">
        <span class="p-float-label">
            <textarea id="content" rows="4" cols="50" pInputTextarea [(ngModel)]="commentContent"
                placeholder="your awesome comment . . ." style="resize: none;"></textarea>
            <i class="fa-solid fa-icons" (click)="op.toggle($event)"></i>
        </span>
        <p-button label="Submit" (click)="addComment()"></p-button>

        <p-overlayPanel #op>
            <emoji-mart title="Pick your emoji…" emoji="point_up" set="apple"
                (emojiClick)="addEmoji($event,'content')"></emoji-mart>
        </p-overlayPanel>
    </div>

    <div class="comments" *ngIf="comments.length>0">
        <div *ngFor="let comment of comments" class="comment">
            <app-comment [comment]="comment" (commentDeleted)="commentDeleted($event)"></app-comment>
            <span class="divider"></span>
        </div>
    </div>
    <p-button label="Load More" [loading]="loading" (click)="loadMoreComments()" class="load-more-btn"
        *ngIf="!noMoreComments"></p-button>
    <div *ngIf="noMoreComments">
        no more comments
        <i class="fa-regular fa-face-sad-tear"></i>

    </div>

</div>