.comment {
    padding: .2rem;
}

.content-comment {
    padding: 1rem;
}

.add-reaction {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);

    border-radius: 14px;
    padding: .5rem;
}

.reactions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reaction {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.emoji {
    font-size: 1.5rem;
}

.emoji:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-bars.more {
    font-size: 1.25rem;
    cursor: pointer;
}

ul {
    li {
        cursor: pointer;
    }
}

.date {
    font-style: italic;
    font-size: .8rem;
    margin-left: 2rem;
    color: rgba(209, 193, 193, 0.614);
}